h1 {
    text-align: center;
    font-family: 'Tahoma', sans-serif;
}

p {
    background-color: green;
}

h2 {
    color: red;
}

img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}
